---
layout: layouts/main.html
---

<section id="hero" class="hero-row">
  <div class="logo">
    <h1><span id="star-1">M</span><span>a</span><span>x</span> <span>N</span><span id="star-2">i</span><span>e</span><span>d</span><span>e</span><span>r</span><span id="star-3">e</span><span>r</span></h1>
    <p>web developer & designer (& some other things)</p>
  </div>
  <div class="blurb">
    <a href="about">
      <img src="/assets/img/Untitled.png">
    </a>
  </div>
</section>

{% include 'sections/projects.html' %}

<section id="contact">
  <div class="contact-heading">
    <h2><span id="star-4">C</span>ontac<span id="star-6">t</span></h2>
  </div>
  <p>Employers, I'm currently looking for work! You can reach me through email at <a href="mailto:maxniederergvc@gmail.com">maxniederergvc@gmail.com</a>.</p>
</section>