<section id="projects">
  <div class="projects-heading">
    <h2><span id="star-4">P</span>rojec<span id="star-5">t</span>s</h2>
  </div>
  <div class="project-row">
    <!--  -->
    <a class="project-entry float-up" href="/projects/portfolio">
      <div class="project-body">
        <img src="/assets/img/P1.png">
      </div>
      <div class="project-content">
        <h3>Portfolio Website</h3>
        <!-- <ul class="tag-holder">
          <li class="tag">Frontend</li>
          <li class="tag">11ty</li>
        </ul> -->
        <p class="project-desc">A portfolio website that prioritizes lightweight efficiency. Built this myself to spite Squarespace.</p>
      </div>
      <p class="read-more">Read more</p>
    </a>
    <!--  -->
    <a class="project-entry float-up" href="/projects/bookdoku">
      <div class="project-body">
        <img src="/assets/img/P2.png">
      </div>
      <div class="project-content">
        <h3>Bookdoku</h3>
        <p class="project-desc">A "Sunday paper" web-game utilizing the OpenLibrary API. Currently in development!</p>
      </div>
      <p class="read-more">Read more</p>
    </a>
    <!--  -->
    <a class="project-entry float-up" href="/projects/codepen">
      <div class="project-body">
        <img src="/assets/img/P3.png">
      </div>
      <div class="project-content">
        <h3>CodePen</h3>
        <p class="project-desc">I don't have a third big project yet! So here are some CodePen bites to hold you over...</p>
      </div>
      <p class="read-more">Read more</p>
    </a>
  </div>
</section>