<section id="projects">
  <div class="heading-title project-heading">
    <div class="heading-line"></div>
    <h2>P<span id="star-4"></span>roject<span id="star-5"></span>s</h2>
    <div class="heading-line"></div>
  </div>
  <div class="project-row">

    {%- for project in collections.project | sortByOrder -%}
      <a class="project-entry float-up" href="{{project.url}}">
        <div class="project-body">
          <img src="{{project.data.image}}" alt="{{project.data.imageAlt}}"/>
        </div>
        <div class="project-content">
          <h3>{{project.data.title}}</h3>
          <p class="project-desc">
            {{project.data.desc}}
          </p>
        </div>
        <p class="read-more">Read more</p>
      </a>
    {%- endfor -%}

  </div>
</section>
