---
layout: layouts/base.njk
---

<div class="site-holder-blog">

  <h2>
    <span></span>
    {{ title }}
  </h2>

  <div class="button-holder">
    {% if link %}
      <a class="btn" href="{{ link }}" target="_blank" rel="noopener noreferrer">
        {{ linkTitle }}
      </a>
    {% endif %}
    {% if gitLink %}
      <a class="btn btn-secondary" href="{{ gitLink }}" target="_blank" rel="noopener noreferrer">
        GitHub Repository
      </a>
    {% endif %}
  </div>

  {{ content | safe }}
</div>