@import "./variables";

:root {
  scrollbar-color: var(--color-body) var(--color-background);
}

* {
  box-sizing: border-box;
  scroll-margin: 30px;

  &::selection {
    background: var(--color-primary);
    color: var(--color-background);
    filter: none;
    text-shadow: none;
  }
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-body);

  padding-inline: clamp(16px, 3vw, 32px);
  max-width: 100rem;
  margin-inline: auto;

  font-family: $font-text;
  font-size: 1.2rem;

  // background-image: url("../img/star.svg");

  .site-holder {
    flex-grow: 1;
  }
}

p {
  a {
    @include link-decoration(3px);
  }
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--color-body);
}

.btn {
  position: relative;
  top: 0;
  color: var(--color-background);
  background: var(--color-body);
  outline: 1px solid var(--color-body);
  box-shadow: 0 4px 0 0 var(--color-primary);
  transition: color 0.2s;
  font-weight: 600;
  &:hover {
    top: 2px;
    box-shadow: 0 2px 0 0 var(--color-primary);
    text-decoration: none;
    color: var(--color-body);
    background: none;
  }
  margin-bottom: 1rem;
}

section#hero {
  margin-block: 0.5rem 2rem;
}

section#contact {
  margin-block: 5rem 2rem;
  display: flex;
  flex-direction: column;
}

.site-holder {
  max-width: 35rem;
  margin-inline: auto;
}

.site-holder-blog {
  max-width: 35rem;
  margin-inline: auto;
  flex-grow: 1;

  img {
    max-width: 100%;
    outline: 1px solid var(--color-accent);
    box-shadow: 5px 5px 0 0 var(--color-accent);
    border-radius: 0 16px 0 0;

    object-fit: cover;
    margin-block: 1rem;
  }

  h2 > span::before {
    @include star-psuedo(-0.3em, -0.8em, 85%);
  }

  h3 {
    box-shadow: inset 0 -0.3rem 0 var(--color-primary);
    margin-top: 2rem;
  }
}

////////////////////////
/* HEADINGS AND STARS */
////////////////////////

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $font-title;
    weight: 900;
  }
  position: relative;
}

h2 {
  font-size: clamp(1.7rem, 9vw, 3rem);
  position: relative;
  margin-block: 10px;
  text-shadow: 0px 3px 0px var(--color-primary);
}

span {
  position: relative;
}

#star-1::before {
  // @include star-psuedo(-0.3em, -0.7em, 87%);
  // @include animation-delay(2s);
}

#star-2::before {
  @include star-psuedo(-0.04em, -0.82em, 35%);
  z-index: 2;
}

#star-3::before {
  @include star-psuedo(-0.5em, -0.8em, 50%);
  @include animation-delay(1s);
}

#star-4::before {
  @include star-psuedo(-0.5em, -0.8em, 60%);
}

#star-5::before {
  @include star-psuedo(-0.05em, -0.1em, 35%);
  z-index: 2;
}

#star-6::before {
  @include star-psuedo(-0.43em, -0.88em, 60%);
}

#star-7::before {
  @include star-psuedo(-0.05em, -0.85em, 40%);
  @include animation-delay(1s);
  z-index: 2;
}

////////////
/* HEADER */
////////////

header {
  margin-top: clamp(1rem, 2.5vw, 2rem);
  margin-bottom: 3rem;
  font-size: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-accent);

  nav {
    margin-top: 6px;
    display: flex;
    gap: 1rem;
    @media (min-width: 50rem) {
      gap: 1.7rem;
    }
  }
}

header nav,
dialog {
  & > * {
    color: var(--color-accent);
    font-weight: 600;
    @include link-decoration-hover();
    @include link-hover-glow();
  }
}

dialog {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
  background: var(--color-background);
  z-index: 1;
  box-shadow: 1px 1px 0px 0px var(--color-body);
  width: 90%;
  border-bottom-left-radius: 7rem;
}

button {
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  line-height: 0rem;
  background: none;
  color: var(--color-accent);
}

nav button {
  width: 1.5rem;
  aspect-ratio: 1;
}

.initials {
  font-family: $font-title;
  font-weight: 800;
  font-size: 24px;

  position: relative;
  user-select: none;

  &::before {
    position: relative;
    top: 6px;
    content: "✶";
    color: var(--color-primary);
    font-size: 40px;
  }
}

//////////
/* HERO */
//////////

.hero-row {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;

  .hero-img-holder {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      background-image: url("../img/mii_hover.png");
      background-size: cover;
      opacity: 0;

      animation-name: bob;
      animation-duration: 3s;
      animation-timing-function: steps(2, end);
      animation-iteration-count: infinite;
    }
    &:hover::after {
      opacity: 100%;
    }
  }
}

h1 {
  font-size: clamp(2rem, 10vw, 4rem);
  line-height: normal;
}

$n: 11;
.logo {
  flex-shrink: 0;
  text-align: center;

  p {
    font-size: clamp(1rem, 5vw, 1.2rem);
    line-height: 1.2rem;
  }

  span.bouncer {
    @media (prefers-reduced-motion: no-preference) {
      animation-name: bounce;
      animation-duration: 1000ms;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      @for $i from 1 through $n {
        &:nth-child(#{$i}) {
          animation-delay: calc(-100ms * $i);
        }
      }
    }
  }
}

.blurb {
  img {
    width: 100%;
    max-width: 400px;
  }
}

//////////////
/* PROJECTS */
//////////////

.projects-heading {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.project-row {
  display: grid;
  grid-gap: 2rem;
}

.project-entry {
  display: grid;
  padding: 2rem;
  font-size: 1rem;

  outline: 1px solid var(--color-body);
  box-shadow: 5px 5px 0 0 var(--color-body);
  border-radius: 0 30px 0 0;

  transition-property: box-shadow outline-color;
  @include transition-style();

  cursor: pointer;
  &:hover {
    img {
      filter: brightness(120%);
      border-color: var(--color-primary);
    }
    .read-more {
      @include link-glow();
      @include link-decoration-wavy();
    }
    h3 {
      @include link-glow();
      color: var(--color-primary);

      text-overflow: ellipsis;
    }
    box-shadow: 5px 5px 0 0 var(--color-primary);
    outline-color: var(--color-primary);
  }

  & > *:nth-child(2) {
    align-self: start;
  }
  & > *:nth-child(3) {
    align-self: end;
  }

  img {
    width: 100%;
    border-radius: 0 20px 0 0;
    border: 1px solid var(--color-body);

    object-fit: cover;
    aspect-ratio: 1/1;
    height: 100%;

    transition-property: filter border-color;
    @include transition-style();
  }

  h3 {
    margin-top: 21px;
    margin-bottom: 15px;
    line-height: 25px;

    transition-property: color;
    @include transition-style();
  }
}

.read-more {
  text-align: right;
  margin-block: 0;

  @include link-decoration(2px);

  transition-property: filter;
  @include transition-style();

  &::before {
    content: "✶";
    font-size: 36px;
    color: var(--color-primary);
    line-height: 0px;

    position: relative;
    top: 6px;
    display: inline-block;
    @include spin-animation();
  }
}

.tag-holder {
  list-style-type: none;
  margin-block: 15px;
  margin-bottom: 5px;
  padding-inline: 0;
}

.tag {
  display: inline-block;
  outline: 1px solid var(--color-accent);
  color: var(--color-accent);
  margin-right: 12px;
  margin-bottom: 10px;

  border-radius: 8px;
  padding-inline: 10px;
  padding-block: 3px;
}

/////////////
/* CONTACT */
/////////////

#contact a {
  @include link-hover-glow();
}

.contact-heading {
  display: flex;
}

input,
textarea {
  border: none;
  background: none;
  border-bottom: 1px solid var(--color-accent);
  color: var(--color-body);
  flex-grow: 1;
}

textarea {
  min-height: 9rem;
}

form {
  max-width: 35rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  display: flex;
  gap: 0.75rem;
}

label i {
  width: 1.5rem;
  text-align: center;
  margin-top: 0.4rem;
}

////////////
/* FOOTER */
////////////

footer {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
  font-size: 1rem;

  padding-top: 2rem;
  margin-top: 4rem;
  border-top: 1px solid var(--color-accent);

  & > nav {
    display: flex;
    gap: 1rem;
    & > a {
      @include link-hover-glow();
    }
  }
}

///////////////////////
/* RESPONSIVE DESIGN */
///////////////////////

// 1000 < X
@media (min-width: 50rem) {
  .site-holder {
    max-width: 100%;
    margin-inline: 0;
  }
  .hero-row {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    text-align: left;
  }

  .project-row {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .project-entry {
    padding: clamp(1rem, 2.5vw, 2rem);
  }

  .projects-heading {
    justify-content: start;
  }

  .contact-heading {
    justify-content: start;
  }

  .about {
    flex-direction: row;
    gap: clamp(2rem, 4vw, 4rem);
    img {
      aspect-ratio: 3/4;
      height: clamp(30rem, 50vw, 40rem);
    }
  }
}

// animations

@keyframes spin {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(180deg) translate(0px, 0rem);
  }
  100% {
    transform: rotate(360deg) translate(0px, 0px);
  }
}

.float-up {
  animation-name: float-up;
  animation-duration: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) {
      animation-delay: calc(0.1s + 0.2s * $i);
    }
  }
}

@keyframes float-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    text-shadow: 0px 1px 0px var(--color-primary),
      0px 0px 28px rgba(255, 125, 96, 0.5647058824);
  }
  to {
    text-shadow: 0px 0.1em 0px var(--color-primary),
      0px 0px 28px rgba(255, 125, 96, 0.5647058824);
  }
}

@keyframes bob {
  0% {
    background-image: url("../img/mii_hover.png");
  }
  100% {
    background-image: url("../img/mii_hover2.png");
  }
}
