---
layout: layouts/base.njk
---

<section id="hero" class="hero-row">
  <div class="logo">
    <h1>
      <span class="bouncer"><span id="star-1"></span>M</span><span class="bouncer">a</span><span class="bouncer"><span id="star-2"></span>x</span> <span class="bouncer">N</span><span class="bouncer">i</span><span class="bouncer">e</span><span class="bouncer">d</span><span class="bouncer">e</span><span class="bouncer"><span id="star-3"></span>r</span><span class="bouncer">e</span><span class="bouncer">r</span>
    </h1>
    <p>front-end web developer & designer & artist</p>
  </div>
  <div class="blurb">
    <a href="about">
      <div class="hero-img-holder">
        <img src="/assets/img/mii.png">
      </div>
    </a>
  </div>
</section>

{% include 'sections/projects-all.njk' %}

<section id="contact">
  <div class="heading-title">
    <div class="heading-line"></div>
    <h2>C<span id="star-6"></span>onta<span id="star-7"></span>ct</h2>
    <div class="heading-line"></div>
  </div>
  <p>I'm currently looking for full-time and freelance work! You can reach me via this contact form or through email at <a href="mailto:maxniederergvc@gmail.com">maxniederergvc@gmail.com</a>.</p>
  
  <form name="contact" netlify>
    <div>
      <label>
        <i class="fa-solid fa-user"></i>
        <input type="text" name="name" placeholder="Name" />
      </label>
    </div>
    <div>
      <label>
        <i class="fa-solid fa-envelope"></i>
        <input type="email" name="email" placeholder="Email" />
      </label>
    </div>
    <div>
      <label>
        <i class="fa-solid fa-message"></i>
        <textarea type="message" name="message" placeholder="Message..."></textarea>
      </label>
    </div>
    <div>
      <button type="submit" class="btn">Send Message</button>
    </div>
  </form>
</section>