<header>
  <nav class="header-navbar">
    <a class="initials" href="/"><span>MN</span></a>

    <div class="links-holder-menu">
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/#contact">Contact</a></li>
        <li>
          <button onclick="toggleDarkMode()" title="Toggle Theme">
            <i class="fa-solid fa-sun" id="dark-mode-icon"></i>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
