/* suse-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SUSE";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/suse-v1-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* suse-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SUSE";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/suse-v1-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* anybody-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anybody";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/anybody-v11-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* anybody-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anybody";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/anybody-v11-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* anybody-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anybody";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/anybody-v11-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* anybody-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anybody";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/anybody-v11-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html[data-theme="light"] {
  --color-body: #5636b0;
  --color-background: #ffebe0;
  --color-primary: #ff5e00;
  --color-accent: #ff5e00;
  --color-glow: #ff7d6090;
}

html[data-theme="dark"] {
  --color-body: #ffebe0;
  --color-background: #5636b0;
  --color-primary: #ff5e00;
  --color-accent: #ffebe0;
  --color-glow: #ff7d6090;
}

/* fonts */
$font-title: "Anybody", sans-serif;
$font-text: "SUSE", sans-serif;

$link-glow: drop-shadow(0px 0px 7px var(--color-glow));
$link-glow-hover: drop-shadow(0px 0px 4px var(--color-primary));

@mixin transition-style() {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@mixin link-hover-glow() {
  transition: filter 0.2s ease-in-out;
  &:hover {
    @include link-glow();
  }
}

@mixin link-glow() {
  filter: $link-glow;
}

@mixin link-decoration($i) {
  text-decoration: underline $i dotted var(--color-primary);
  font-weight: 600;
  @include link-decoration-hover();
}

@mixin link-decoration-hover() {
  &:hover {
    @include link-decoration-wavy();
  }
}

@mixin link-decoration-wavy() {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-primary);
}

@mixin star($size) {
  content: "";

  width: $size;
  aspect-ratio: 1/1;
  z-index: -1;

  transform: translate(-50%, -50%);

  // border: 1px rgba(255, 0, 0, 1) dashed;
  background-image: url("../img/star.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;

  // display: none;
}

@mixin star-psuedo($top, $left, $size) {
  @include star(1.6em);
  position: absolute;
  top: $top;
  left: $left;
  background-size: $size;

  @include spin-animation();
}

@mixin spin-animation() {
  @media (prefers-reduced-motion: no-preference) {
    animation-name: spin;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@mixin animation-delay($i) {
  animation-delay: calc(-1 * $i);
}
