@import "./variables";

:root {
  scrollbar-color: var(--color-body) var(--color-background);
}

* {
  &::selection {
    background: var(--color-primary);
    color: var(--color-background);
    filter: none;
    text-shadow: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-body);

  padding-inline: clamp(22px, 3vw, 32px);
  max-width: 92rem;
  margin-inline: auto;

  font-family: $font-text;
  font-size: 1.2rem;

  transition-property: color, background-color;
  @include transition-style();

  .site-holder {
    flex-grow: 1;
  }
}
